<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      ユーザチャンネル検索
    </div>
  </div>
  <div class="panel-body">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="userInformation.userName">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="userInformation.getUserInformation()"><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      ユーザチャンネル情報
    </div>
  </div>
  <div class="panel-body">
    ユーザチャンネル情報
  </div>
</div>
